@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proximanova-regular.otf");
}

@font-face {
    font-family: "Proxima Nova Bold";
    src: url("/fonts/proximanova-bold.otf");
}

@font-face {
    font-family: "Alternate Gothic No2 D";
    src: url("/fonts/AlternateGotNo2D.otf");
}

.proxima-regular {
    font-family: "Proxima Nova"
}

.proxima-bold {
    font-family: "Proxima Nova Bold"
}

.alternate-gothic {
    font-family: "Alternate Gothic No2 D"
}

.dropdown:hover  .dropdown-menu {
    display: block;
}

.PhoneInputInput{
    border: none;
}

.without-ring {
    @apply focus:ring-0 focus:ring-offset-0;
}

[type="tel"]:focus-visible {
    @apply focus:ring-0 focus:ring-offset-0;
  }

input[type='text']:focus { box-shadow: none; }

.react-datepicker-wrapper {
    width: 100%;
  }
  
  .react-datepicker__input-container {
    width: 100%;
  }